footer.flex#footer 
  div.grid.footer_info 
    div(style="flex-direction: column;").flex
      img(src="/images/logo.png" alt="").footer_logo 
      div.footer_catch_phrase
        p Pick Parts.
        p Build Your PC.
        p Compare And Share.

    div.footer_pg_links
      p.subheading Categories
      
      ul 
        li 
          a(href="/builds/create" alt="Link to PC build creation page") PC Builder 
        li 
          a(href="/builds" alt="Link to page with all created builds") Completed Builds 
        li 
          a(href="/category" alt="Link to page with all product categories") Browse Products 
        li 
          a(href="/brands" alt="Link to page with all brands") Browse Manufacturers


  div.flex.footer_socials
    a(href="https://github.com/cyanChill" target="_blank" alt="Link to my github")
      object(type="image/svg+xml" data="/images/products/github.svg" alt="Github logo")