div#nav-wrapper.flex
  nav#main-nav.flex
    a(href="/").flex.logo-container
        img(src="/images/logo.png" alt="logo")
        | PC
        span.highlight PART
        | Picker 

    input(type="checkbox")#menu-ctrl 

    ul.flex.sidebar
      li 
        a(href="/builds/create") 
          object(type="image/svg+xml" data="/images/wrench.svg")
          span PC Builder 
      li 
        a(href="/builds")
          object(type="image/svg+xml" data="/images/pc_case.svg")
          span Completed Builds 
      li 
        a(href="/products") 
          object(type="image/svg+xml" data="/images/cpu.svg")
          span Browse Products 
