div#nav-wrapper.flex
  nav#main-nav.flex
    a(href="/").flex.ign_a_hov.logo-container
        img(src="/images/logo.png" alt="logo")
        | PC
        span.highlight Parts
        | List 

    input(type="checkbox")#menu-ctrl 

    ul.flex.sidebar
      li 
        a(href="/builds/create").ign_a_hov 
          object(type="image/svg+xml" data="/images/ui/wrench.svg")
          span PC Builder 
      li 
        a(href="/builds").ign_a_hov
          object(type="image/svg+xml" data="/images/ui/pc_case.svg")
          span Completed Builds 
      li 
        a(href="/category").ign_a_hov 
          object(type="image/svg+xml" data="/images/ui/cpu.svg")
          span Browse Products 
