extends ./layout

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/error.css')

block content
  header.pg_header.cstm_clr 404 Error

  div.flex.error_pg_cont
    p Sorry, but something went wrong.
    a(href="/" alt="Link to homepage") Return Home
