extends ./layout
include ./builds/build_card.pug

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/build/build-card.css')

block content
  div.flex.hero
    div.flex.hero-content 
      h1 Create & Share Your Builds! 
      p Have you've made a build or wanted to get into building PCs? Well 
        | this is the tool for you to show to the world your awesome PC!
      a(href="/builds/create").flex.btn.ign_a_hov.hero_btn 
        object(type="image/svg+xml" data="/images/ui/wrench.svg")
        span View the PC Builder

    img(src="/images/logo.png").hero_img

  h2.secondary_header Completed Builds

  //- Limited list of completed builds
  div.grid.builds-container 
    each buildInfo in completedBuilds
      +build_card(buildInfo)

    a(href="/builds").btn.flex.ign_a_hov.builds_btn
      object(type="image/svg+xml" data="/images/ui/pc_case.svg")
      | See All Completed Builds