doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    link(rel="icon" href='/images/pwa/favicon.ico')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="apple-touch-icon" href="/images/pwa/apple-touch-icon.png")
    link(rel="manifest" href="/manifest.json")

    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/nav-styles.css')
    link(rel='stylesheet', href='/stylesheets/footer-styles.css')

    script(src="/javascripts/nav.js" defer) 

    block extraInfo
  body
    include includes/nav.pug 

    main#main-content-wrapper
      block content

    include includes/footer.pug