extends ./layout

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/pass-validation.css')
  script(src="/javascripts/pass-validation.js" defer) 

block content
  form(method="POST" action=submitURL).flex.pass_valid_form
    //- Expected to be used for various password-validation areas (ie:
    //- "Save" password, "Admin" password)
    label.flex #{passType} Password:
      input(type="url" name="redirect_route").hide#pass_valid_redirectInput
      input(type="text" name="save_pass" value=(prevAttempt ? prevAttempt : "") minlength="6" required) 
    button(type="submit").btn.green.cstm_btn Submit Password 
