extends ../layout

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/category/categories.css')

block content
  header.pg_header.cstm_clr= title

  div.grid.ctgy_container
    each ctgy in categories 
      a(href=`/category/${ctgy._id}`).btn.ign_a_hov.ctgy_btn
        img(src=ctgy.previewImg).ctgy_img
        | #{ctgy.name}