extends ../layout
include ../products/products_table

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/category/category-detail.css')
  link(rel='stylesheet', href='/stylesheets/product/products-table.css')

block content
  header.pg_header.cstm_clr
    p= title
    p.pg_header_subText= category.description
  
  div 
    a(href=`${category.url_route}/update`).ctgy_edits Update
    a(href=`${category.url_route}/delete`).ctgy_edits Delete

  +products_table(products, "Manufacturer")
