extends ../layout

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/category/categories.css')

block content
  header.pg_header.cstm_clr= title

  a(href="/category/create").ctgy_create_new Add a Category

  div.grid.ctgy_container
    each ctgy in categories 
      a(href=ctgy.url_route).btn.ign_a_hov.ctgy_btn
        img(src=ctgy.public_imgPath onerror="this.src = '/images/fallback_product.png';").ctgy_img
        span #{ctgy.name}
