:root {
  --hm-hero-grad-end-clr: var(--grey-600);
  --hm-hero-grad-center-clr: var(--grey-550);
  --hm-hero-main-txt-clr: white;
  --hm-hero-sub-txt-clr: var(--grey-150);
  --hm-sub-hdr-border-clr: var(--grey-600);
}

body.dark {
  --hm-hero-grad-end-clr: var(--navy-950);
  --hm-hero-grad-center-clr: var(--navy-850);
  --hm-hero-main-txt-clr: var(--grey-25);
  --hm-sub-hdr-border-clr: var(--grey-25);
}

/* Page Hero */
.hero {
  z-index: 1;
  --gap: 0.75rem;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0.75rem;

  background: linear-gradient(
    90deg,
    var(--hm-hero-grad-end-clr) 0%,
    var(--hm-hero-grad-center-clr) 50%,
    var(--hm-hero-grad-end-clr) 100%
  );
  box-shadow: 0 0 0 100vmax var(--hm-hero-grad-end-clr);
  clip-path: inset(0 -100vmax);
}

.hero_img {
  display: none;
  width: clamp(10rem, 30vw, 20rem);
}

.hero-content {
  max-width: 25rem;
  flex-direction: column;
}

.hero-content h1 {
  color: var(--hm-hero-main-txt-clr);
  font-weight: 500;
}

.hero-content p {
  font-size: 0.85rem;
  color: var(--hm-hero-sub-txt-clr);
}

.hero_btn {
  font-size: 0.9rem;
}

.hero_btn object,
.builds_btn object {
  width: 1.25rem;
  aspect-ratio: 1;
  filter: invert(100%) sepia(2%) saturate(7494%) hue-rotate(111deg)
    brightness(110%) contrast(117%);
}

/* "Completed Builds" header */
.secondary_header {
  width: 100%;
  font-weight: 500;
  padding-block: 0.5rem;
  margin-block-end: 1rem;
  border-bottom: 1px solid var(--hm-sub-hdr-border-clr);
}

/* Holds list of builds cards */
.builds-container {
  width: 100%;
  grid-template-columns: 100%;
  gap: 1rem;
}

/* Button To View All Builds */
.builds_btn {
  align-self: center;
}

@media (min-width: 568px) {
  .hero {
    --gap: 1rem;
    justify-content: space-evenly;
  }

  .hero_img {
    display: block;
  }

  .hero_btn {
    font-size: 1rem;
  }

  .builds-container {
    grid-template-columns: repeat(2, calc((100% - 1rem) / 2));
  }
}

@media (min-width: 768px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .builds-container {
    grid-template-columns: repeat(3, calc((100% - 2rem) / 3));
  }
}

@media (min-width: 1000px) {
  .builds-container {
    grid-template-columns: repeat(4, calc((100% - 3rem) / 4));
  }
}
