@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --blue: #2c87c3;
  --jean-blue: #505fa1;
  --cyan: #1e5c85;
  --lighter-navy: #26293b;
  --light-navy: #191b2a;
  --navy: #11121d;

  --brown: #b18c5a;
  --yellow: #eda920;
  --orange: #e26723;
  --error: #ed4337;

  --off-white: #eaeaea;
  --light-grey: #f4f4f3;
  --grey: #dddcdb;
  --dark-grey: #535559;

  --lilac: #545578;
  --dark-lilac: #323548;

  --green: #00b16a;
  --dark-green: #00653c;

  --font-family: "Roboto", sans-serif;

  --max-width-min: 82.5rem;
  --max-width: 90rem;
  --main-inline-padding: clamp(0.75rem, 3vw, 3rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  overflow-x: hidden;
  font-family: var(--font-family);
  background-color: var(--light-grey);
}

#main-content-wrapper {
  width: 100%;
  max-width: var(--max-width-min);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: var(--main-inline-padding);
  padding-block-end: 1rem;
}

.hide {
  display: none !important;
}

/* Hover Effect to indicate link*/
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.ign_a_hov:hover {
  text-decoration: none;
}

/* Ignore Pointer Events of object Tags */
object {
  pointer-events: none;
}

/* Template Classes */
.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
}

/* Custom Header for page */
.pg_header {
  padding: 1.25rem;

  color: white;
  font-size: clamp(1.45rem, 5vw, 1.75rem);
  font-weight: 600;
  text-align: center;

  background-color: var(--header-clr, var(--orange));
  box-shadow: 0 0 0 100vmax var(--header-clr, var(--orange));
  clip-path: inset(0 -100vmax);
}

.pg_header_subHead {
  font-size: 1.25rem;
  font-weight: 500;
}

.pg_header_subText {
  max-width: var(--max-width-min);
  color: var(--light-grey);
  font-size: 0.9rem;
  font-weight: 300;
  padding-block-start: 0.25rem;
}

/* Custom Button (Works with links) */
.btn {
  --btn-text-clr: white;
  --btn-clr: var(--blue);
  --btn-hover-clr: var(--cyan);

  height: max-content;
  cursor: pointer;
  padding: 0.75rem;

  color: var(--btn-text-clr);
  font-size: 1rem;
  font-weight: 600;

  background-color: var(--btn-clr);
  border-radius: 0.5rem;
  border: 0;
  transition: background-color 200ms ease-in-out;
}

.btn.flex {
  justify-content: center;
  align-items: center;
}

.btn:hover {
  text-decoration: none;
  background-color: var(--btn-hover-clr);
}

.btn object {
  width: 1.5rem;
  aspect-ratio: 1;
}

.btn.green {
  --btn-clr: var(--green);
  --btn-hover-clr: var(--dark-green);
}

.btn.gold {
  --btn-clr: var(--yellow);
  --btn-hover-clr: var(--orange);
}

/* Show Mobile Tag */
.show_mob {
  display: block;
}

span.show_mob {
  color: var(--dark-grey);
  font-size: 0.8rem;
  font-weight: initial;
}

@media (min-width: 768px) {
  .show_mob {
    display: none;
  }
}
