extends ../layout
include ./build_info_table.pug

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/build/build-detail.css')
  link(rel='stylesheet', href='/stylesheets/build/build-info-table.css')

block content
  //- Where we view a list (unmodifiable); have buttons to edit
  //- Edit form is where we can delete and update the list

  //- Header
  header.pg_header.cstm_clr
    p= title 
    p.pg_header_subHead= author
    p.pg_header_subText= description

  img(src=thumbnail_url).thumbnail_img

  +build_info_table(categories, comp_list, false, false)

