extends ../layout
include ./build_info_table

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/build/build-form.css')
  link(rel='stylesheet', href='/stylesheets/build/build-info-table.css')
  script(src="/javascripts/build/build_form.js" defer) 

block content
  //- Header
  header.pg_header.cstm_clr= title

  div(style="align-self: flex-start; margin-block: 0.25rem;").flex 
    if isUpdating 
      a(href=`${prevData.url_route}/cancel`).btn.red.bld_form_cstm_btn
        | Cancel Update
      
    button(onclick="hideSubmissionProcess();" class=(formError ? '' : 'hide')).btn.gold.bld_form_cstm_btn#editComp_btn
      | < Edit Build Configuration

  if isUpdating 
    div(style="align-self: flex-start; margin-block: 0.25rem;")
      p.notice 
        b Note: 
        | You may edit your local PC build once you either cancel editing this
        | current build or finish submitting the new build.
        | Modifying a different build while still editing this current build,
        | the changes made to this current build will not be saved.

  +build_info_table(categories, comp_list, true, true)#bd_comp_tb(class=(formError ? "bld_tb_no_edit" : ""))

  button(onclick="showSubmissionProcess();" class=(formError ? 'hide' : '')).btn.gold.bld_form_cstm_btn#prepSub_btn
    | Finalize Submission

  form(method="POST" enctype="multipart/form-data" class=(formError ? '' : 'hide')).flex#bldSub_form
    label Author Name:
      input(type="text" name="author_name" value=(undefined===prevData ? "" : prevData.author_name) maxlength="30" required) 
    label Build Name:
      input(type="text" name="build_name" value=(undefined===prevData ? "" : prevData.build_name) maxlength="30" required) 
    label Build Description:
      input(type="text" name="description" value=(undefined===prevData ? "" : prevData.description) maxlength="200" required) 
    
    if !isUpdating
      label Build Image:
        input(type="file" name="img" accept="image/*" required) 

      label Save Password:
        input(type="text" name="save_pass" value=(undefined===prevPass ? "" : prevPass) minlength="6" required) 
      p.notice 
        b Note: 
        | The password is for when you want to edit this build list in the future.

    if errs 
      div
        b.notice.underline Errors were found with your submission:
        ul.bld_form_err_cont.notice
          each err in errs 
            li= err.msg


    button(type="submit").btn.green.bld_form_cstm_btn.bld_form_sbt_btn
      if isUpdating 
        | Update PC Build
      else 
        | Add New PC Build

