extends ../layout
include ./build_info_table.pug

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/build/build-form.css')
  link(rel='stylesheet', href='/stylesheets/build/build-info-table.css')
  script(src="/javascripts/build/build_form.js" defer) 

block content
  //- Header
  header.pg_header.cstm_clr= title

  button(onclick="hideSubmissionProcess();").btn.gold.bld_form_cstm_btn#editComp_btn(class=(formError ? '' : 'hide'))
    | Edit Build Configuration

  +build_info_table(categories, comp_list, true, true)#bd_comp_tb(class=(formError ? "bld_tb_no_edit" : ""))

  button(onclick="showSubmissionProcess();").btn.gold.bld_form_cstm_btn#prepSub_btn(class=(formError ? 'hide' : ''))
    | Finalize Submission

  form(method="POST").flex#bldSub_form(class=(formError ? '' : 'hide'))
    label Author Name
      input(type="text" name="author_name" value=(undefined===prevData ? "" : prevData.author_name) maxlength="30" required) 
    label Build Name
      input(type="text" name="build_name" value=(undefined===prevData ? "" : prevData.build_name) maxlength="30" required) 
    label Build Description
      input(type="text" name="description" value=(undefined===prevData ? "" : prevData.description) maxlength="200" required) 
    label Thumbnail Image URL
      input(type="url" name="thumbnail_url" value=(undefined===prevData ? "" : prevData.thumbnail_url) required) 
    //- TODO: Hide field when we're updating the build
    label Save Password
      input(type="text" name="save_pass" value=(undefined===prevPass ? "" : prevPass) minlength="6" required) 
    p.notice 
      b Note: 
      | The password is for when you want to edit this build list in the future.

    button(type="submit").btn.green.bld_form_cstm_btn.bld_form_sbt_btn Submit New PC Build

