extends ../layout

block content
  //- Header
  header.page_header= title 

  div 
    aside 
      //- Filters:
      //-   - price slider (like on PC Parts picker site)
      //-   - CPU checkbox
      //-   - GPU checkbox
  