extends ../layout

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/build/build-delete.css')

block content
  header(style="--header-clr: var(--error-500);").pg_header= title

  div.flex.bld_dlt_cont
    p.bld_dlt_confirm_msg 
      | Confirm Deletion of Build

    div.flex
      a(href=`/builds/${buildId}/cancel`).btn.green.compressed Cancel

      form(method="POST")
        button(type="submit").btn.red.compressed Confirm 
