extends ../layout
include ./build_info_table.pug

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/build/build-form.css')
  link(rel='stylesheet', href='/stylesheets/build/build-info-table.css')

block content
  //- Where we create our PC Parts List; can be used to create a new list
  //- or update an existing list (given we provide a password -- aka
  //- validation)
  //- We can access with an admin password or list password the creator
  //- provided
  //- If we're creating/updating a list, save the parts in local storage
  //- or something

  //- TODO: Need to add fields for author name, description, save password, etc.


  //- Header
  header.pg_header.cstm_clr= title

  +build_info_table(categories, comp_list, true, true)

