extends ../layout
include ./build_card

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/build/builds.css')
  link(rel='stylesheet', href='/stylesheets/build/build-card.css')

block content
  //- Header
  header.pg_header= title 

  //- List of completed builds
  div.grid.builds-container 
    each buildInfo in buildList
      +build_card(buildInfo)
  