.cstm_clr {
  --header-clr: var(--dark-lilac);
}

.ctgy_create_new {
  padding: 0.5rem;
  color: var(--blue);
  text-decoration: underline;
}

.ctgy_container {
  width: 100%;
  grid-template-columns: 1fr;
  gap: 0.5rem;

  padding: 0.5rem;
}

/* Category Button Styling */
.ctgy_btn {
  grid-column: span 1;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.25rem;
}

.ctgy_img {
  object-fit: contain;
  width: 100%;
  flex-shrink: 0;
  max-width: 4rem;
  aspect-ratio: 1;
}

@media (min-width: 568px) {
  .ctgy_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .ctgy_btn {
    flex-direction: column;
  }

  .ctgy_btn img {
    max-width: 10rem;
  }
}

@media (min-width: 768px) {
  .ctgy_container {
    grid-template-columns: repeat(4, 1fr);
  }
}
