.cstm_clr {
  --header-clr: var(--blue-600);
}

.brand_valid_form {
  --gap: 0.5rem;
  width: 100%;
  max-width: var(--max-form-width);
  flex-direction: column;
  padding: 0.5rem;
}

.err_cont {
  color: var(--error-500);
  font-size: 0.9rem;
}

.err_cont ul {
  padding-inline-start: 1.5rem;
}
