.cstm_clr {
  --header-clr: var(--green-600);
}

.brands_add_man {
  padding: 0.5rem;
}

.brands_cont {
  width: 100%;
  max-width: var(--max-form-width);
  padding: 0.5rem;
  font-size: 1.5rem;
  list-style: none;
}

.brands_cont a {
  display: block;
  width: max-content;
  padding: 0.5rem;
  color: var(--primary-txt-clr);
}
