extends ../layout
include ../products/products_table

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/brand/brand-detail.css')
  link(rel='stylesheet', href='/stylesheets/product/products-table.css')

block content
  //- Header
  header.pg_header= title 

  a(href=`${currBrand.url_route}/delete` alt="Link to page to delete brand").underline.brands_delete Delete

  +products_table(products, "Category")
  